/* @import "tailwindcss"; */
@import "leaflet/dist/leaflet.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-bronze {
    color: #A97239;
  }

  .bg-bronze {
    background-color: #A97239;
  }

  .border-bronze {
    border-color: #A97239;
  }
}
